<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="CONSOLE" level="INFO" />
    <logger name="com.solace.spring.cloud.stream.binder" level="DEBUG"/>
    <logger name="com.solace.spring.cloud.stream.binder.inbound.BatchCollector" level="TRACE"/>
    <logger name="com.solace.spring.cloud.stream.binder.test" level="INFO"/>
</configuration>
